body {
  text-align: center;
  background-color: rgb(229, 209, 247);
}

main {
  width: 800px;
  margin: 50px auto 30px auto;
  background-color: rgb(102, 3, 194);
  border-radius: 10px;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: rgb(102, 3, 194);
  font-size: 60px;
  font-weight: bold;
}

img {
  width: 300x;
  height: 200px;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: rgb(255, 255, 255) ;
  font-size: 30px;
  text-align: left;
  padding-left: 2%;
}

p {
  text-align: left;
  color: rgb(255, 255, 255);
  padding-left: 2%;
}

ol {
  list-style: none;
  text-align: left;
  color: rgb(255, 255, 255);
}

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(102, 3, 194);
  text-decoration: none;
  background-color: rgb(250, 208, 146);
  border-radius: 6px;
  border: 3px;
}

footer{
  color: rgb(41, 41, 41);
}

.highlight-goal{
  color: rgb(235, 172, 78);
}